---
import Layout from "@layouts/Layout.astro";
interface Post {
  url: string;
  frontmatter: {
    title: string;
    created_at: Date;
    description: string;
    author: string;
    image: {
      url: string;
      alt: string;
      credits?: string;
    };
    tags: string[];
  };
}

const allPosts = Object.values(
  await import.meta.glob("./posts/*.mdx", { eager: true }),
) as Post[];
---

<Layout title="Katakatari | Blog">
  <main
    class="container flex min-h-dvh max-w-5xl flex-col items-center justify-center gap-10 space-y-4 py-10 md:text-center"
  >
    <header><h1>Blog Post</h1></header>
    <ul class="grid gap-4 md:grid-cols-3">
      {
        allPosts.map((post) => (
          <li class="group relative overflow-clip rounded-md">
            <a href={post?.url}>
              <p class="absolute bottom-0 p-4 md:hidden md:group-hover:block">
                {post?.frontmatter?.title}
              </p>
              <img
                src={post?.frontmatter?.image?.url}
                alt={post?.frontmatter?.title}
                class="aspect-video"
                width="300"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
