---
import CodeJourneyData from "./_components/code-journey-data";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Code Journey">
  <main><CodeJourneyData client:load /></main>
</Layout>
