---
import Layout from "../layouts/Layout.astro";
import TimelineDemo from "../components/react/timeline-demo";
---

<Layout title="Welcome to Astro.">
  <main>
    <TimelineDemo client:load />
  </main>
</Layout>
