---
import Icon, { type IconName } from "@components/ui/icon";
import Layout from "../layouts/Layout.astro";
import LinkPreview from "@components/with-motion/link-preview";

const contents = ["gallery", "blog", "code"] as const;
const stacks = [
  {
    href: "https://github.com/BayuPrasetyaUtomo",
    label: "github pages",
  },
  {
    href: "https://www.typescriptlang.org/",
    label: "typescript",
  },
  {
    href: "https://tailwindcss.com/",
    label: "tailwind CSS",
  },
  {
    href: "https://react.dev/",
    label: "react",
  },
  {
    href: "https://astro.build/",
    label: "astro",
  },
  {
    href: "https://www.framer.com/motion/",
    label: "framer motion",
  },
] as const;

const allStacks = [
  "HTML",
  "CSS",
  "Tailwind CSS",
  "Typescript",
  "Javascript",
  "React",
  "Next JS",
  "Astro",
  "tRPC",
  "Mongo DB",
] as const;
---

<Layout title="Katakatari">
  <main class="min-h-main">
    <section
      class="container flex min-h-main flex-col items-center justify-center gap-20 py-10"
    >
      <header class="mx-auto max-w-4xl space-y-6 py-12 text-center md:py-0">
        <h1 class="custom-gradient font-bold capitalize">Katakatari</h1>
        <p class="text-pretty">
          Derived from the Indonesian word "kata-kata" (words) and the Japanese
          word "語る" (to talk). A space where you can explore and engage with
          content that spans across various interests.
        </p>
      </header>
      <div class="space-y-6 text-center">
        <h3>Build with</h3>
        <ul class="grid grid-cols-3 gap-8 md:grid-flow-col">
          {
            stacks.map(({ href, label }) => (
              <li class="flex aspect-square flex-col items-center justify-center gap-3 p-2 font-semibold capitalize md:w-fit">
                <LinkPreview href={href} client:load>
                  <Icon
                    name={label.split(" ")[0] as IconName}
                    className="size-8"
                  />
                </LinkPreview>
                <span>{label}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="flex min-h-main items-center">
      <div class="container grid items-center gap-6 md:grid-cols-2">
        <header class="flex max-w-xl flex-col justify-center gap-4">
          <h2>Website contents</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
            officiis et, facilis voluptate molestiae debitis atque obcaecati
            repellat quia repellendus magnam optio vitae tempore fugit sed
            excepturi natus quam laudantium!
          </p>
          <ul class="grid grid-flow-col gap-4 md:flex">
            {
              contents.map((item) => (
                <li class="cursor-pointer rounded-lg bg-primary/70 px-6 py-2 capitalize text-primary-foreground hover:opacity-80 dark:text-foreground">
                  {item}
                </li>
              ))
            }
          </ul>
        </header>
        <div class="w-2xl aspect-video h-auto rounded-lg bg-primary/80"></div>
      </div>
    </section>

    <section
      class="container grid min-h-main items-center justify-center gap-10 py-10 md:grid-cols-3"
    >
      <div class="prose space-y-8 dark:prose-invert md:col-span-2">
        <header class="space-y-4">
          <h2 class="text-center md:text-start">About developer</h2>
          <p class="max-w-xl">
            Hi, my name is <span class="custom-gradient font-bold"
              >Bayu Utomo</span
            >&excl;<br />A generalist that always eager to learn something new.
            I started my programming journey on October 2023. Got my first job
            as a full stack developer to build a custom CMS for <LinkPreview
              href="https://lpksgm.com"
              className="no-underline hover:text-primary hover:underline"
              client:load>LPK SGM</LinkPreview
            > a training organization on August 2024. Currently active developing
            this website as a platform to hone my skill and hopefully be able to
            share useful info about my journey along the way.
          </p>
        </header>
        <div class="space-y-3">
          <p>Life before programming journey:</p>
          <ul>
            <li>Teller in a private Bank in Indonesia</li>
            <li>Factory worker in a Japanese Company in Japan</li>
          </ul>
        </div>
      </div>
      <img
        src="https://avatars.githubusercontent.com/u/108232231?s=400&u=39cbeba17d5ef91561b744ea8ec034e3edb7a085&v=4"
        alt="Bayu Utomo"
        class="mx-auto aspect-square w-60 rounded-full border-4 border-primary md:w-80"
        width="360"
      />
    </section>

    <section
      class="container flex min-h-main flex-col items-center justify-center gap-6 py-10"
    >
      <header class="text-center md:text-start">
        <h3>Current Stack</h3>
      </header>
      <ul class="grid grid-cols-2 gap-6 md:grid-cols-5">
        {
          allStacks.map((item) => (
            <li class="flex aspect-video max-w-48 flex-col items-center justify-center gap-2 rounded-lg p-6 text-center text-lg font-medium shadow-md hover:bg-primary/50 hover:font-bold dark:shadow-foreground">
              <span>{item}</span>
              <a href="#">
                <Icon
                  name={item.split(" ")[0]?.toLowerCase() as IconName}
                  className="size-8"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
