---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sandbox">
  <main class="text-center">
    <header class="text-white py-10">
      <h1 class="text-4xl font-bold">
        A sandbox page for <span class="text-gradient">testing feature</span>
      </h1>
    </header>
    <ul><li><a href="/">Home</a></li></ul>
  </main>
</Layout>
