---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sandbox">
  <main>
    <header>
      <h1>
        A sanbox page for <span class="text-gradient">testing feature</span>
      </h1>
    </header>
    <ul><li><a href="/">Home</a></li></ul>
  </main>
</Layout>
